.toast {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: var(--roxo);
  color: var(--branco);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(138, 43, 226, 0.4);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 9999;
}

.toast i {
  font-size: 1.3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
