:root {
  --roxo: #8a2be2;
  --roxo-neon: #b36cff;
  --preto: #0a0a0a;
  --cinza-escuro: #1a1a1a;
  --cinza: #2b2b2b;
  --branco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}